 /*dialog*/
 #mask{position: fixed;width: 100%;height:100%; background:rgba(0,0,0,0.4); top: 0; left: 0;z-index: 1002; }
 .layer{width: 6.4rem;height: 2.4rem;position: fixed;top: 50%;margin-top: -1.2rem;left: 0.55rem;z-index:1003;background-color: #fff;border-radius: 0.20rem;font-size: 0.36rem;transition: all 0.3s cubic-bezier(0.6, 0.26, 0.27, 1.58); }
 .layer h3{width:100%;text-align: center;line-height: 1.4rem; color: #333;  font-weight: normal;border-bottom: 1px solid #bcbcbc;}
 .layer span{display:inline-block;width:2.80rem;height:0.88rem;font-size: 0.36rem;text-align: center;line-height:0.88rem;}
 .layer #cancel{width: 49%; text-align: center;height: 0.98rem; display:inline-block; line-height:0.98rem; color:#FF6633; float: left;}
 .layer #sure{width: 49%; text-align: center;height: 0.98rem; display:inline-block; line-height:0.98rem; color:#3377cc;border-left:1px solid #bcbcbc; float: left;}

.lx-dialog{  position: fixed;  bottom:100px;  left:50%;  min-width:180px;  height:40px;  line-height: 40px;  padding:0 10px;  margin-left: -100px;  text-align: center;
    z-index:9999;
    font-size:14px;
    color: #fff;
    border-radius: 5px;
    background: rgba(0,0,0,0.7);
    animation: show-dialog .5s;
    -webkit-animation: show-dialog .5s;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.lx-dialog.lx-dialog-top{
    top:50px;
    bottom:inherit;
}
.lx-dialog.lx-dialog-center{
    top:50%;
    margin-top: -20px;
    bottom:inherit;
}
@keyframes show-dialog
{
    from {
        opacity: 0;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
}
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.lx-load-mark{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.lx-load-box {
    position: fixed;
    z-index: 3;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.lx-load-content {
    margin-top: 64%;
    font-size: 14px;
}
.lx-loading{
    position: absolute;
    width: 0px;
    left: 50%;
    top: 38%;
}
.loading_leaf{
    position: absolute;
    top: -1px;
    opacity: 0.25;
}
.loading_leaf:before {
    content: " ";
    position: absolute;
    width: 9.14px;
    height: 3.08px;
    background: #d1d1d5;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
    border-radius: 1px;
    -webkit-transform-origin: left 50% 0px;
    transform-origin: left 50% 0px;
}
.loading_leaf_0 {
    -webkit-animation: opacity-0 1.25s linear infinite;
    animation: opacity-0 1.25s linear infinite;
}
.loading_leaf_0:before {
    -webkit-transform: rotate(0deg) translate(7.92px, 0px);
    transform: rotate(0deg) translate(7.92px, 0px);
}
.loading_leaf_1 {
    -webkit-animation: opacity-1 1.25s linear infinite;
    animation: opacity-1 1.25s linear infinite;
}
.loading_leaf_1:before {
    -webkit-transform: rotate(30deg) translate(7.92px, 0px);
    transform: rotate(30deg) translate(7.92px, 0px);
}
.loading_leaf_2 {
    -webkit-animation: opacity-2 1.25s linear infinite;
    animation: opacity-2 1.25s linear infinite;
}
.loading_leaf_2:before {
    -webkit-transform: rotate(60deg) translate(7.92px, 0px);
    transform: rotate(60deg) translate(7.92px, 0px);
}
.loading_leaf_3 {
    -webkit-animation: opacity-3 1.25s linear infinite;
    animation: opacity-3 1.25s linear infinite;
}
.loading_leaf_3:before {
    -webkit-transform: rotate(90deg) translate(7.92px, 0px);
    transform: rotate(90deg) translate(7.92px, 0px);
}
.loading_leaf_4 {
    -webkit-animation: opacity-4 1.25s linear infinite;
    animation: opacity-4 1.25s linear infinite;
}
.loading_leaf_4:before {
    -webkit-transform: rotate(120deg) translate(7.92px, 0px);
    transform: rotate(120deg) translate(7.92px, 0px);
}
.loading_leaf_5 {
    -webkit-animation: opacity-5 1.25s linear infinite;
    animation: opacity-5 1.25s linear infinite;
}
.loading_leaf_5:before {
    -webkit-transform: rotate(150deg) translate(7.92px, 0px);
    transform: rotate(150deg) translate(7.92px, 0px);
}
.loading_leaf_6 {
    -webkit-animation: opacity-6 1.25s linear infinite;
    animation: opacity-6 1.25s linear infinite;
}
.loading_leaf_6:before {
    -webkit-transform: rotate(180deg) translate(7.92px, 0px);
    transform: rotate(180deg) translate(7.92px, 0px);
}
.loading_leaf_7 {
    -webkit-animation: opacity-7 1.25s linear infinite;
    animation: opacity-7 1.25s linear infinite;
}
.loading_leaf_7:before {
    -webkit-transform: rotate(210deg) translate(7.92px, 0px);
    transform: rotate(210deg) translate(7.92px, 0px);
}
.loading_leaf_8 {
    -webkit-animation: opacity-8 1.25s linear infinite;
    animation: opacity-8 1.25s linear infinite;
}
.loading_leaf_8:before {
    -webkit-transform: rotate(240deg) translate(7.92px, 0px);
    transform: rotate(240deg) translate(7.92px, 0px);
}
.loading_leaf_9 {
    -webkit-animation: opacity-9 1.25s linear infinite;
    animation: opacity-9 1.25s linear infinite;
}
.loading_leaf_9:before {
    -webkit-transform: rotate(270deg) translate(7.92px, 0px);
    transform: rotate(270deg) translate(7.92px, 0px);
}
.loading_leaf_10 {
    -webkit-animation: opacity-10 1.25s linear infinite;
    animation: opacity-10 1.25s linear infinite;
}
.loading_leaf_10:before {
    -webkit-transform: rotate(300deg) translate(7.92px, 0px);
    transform: rotate(300deg) translate(7.92px, 0px);
}
.loading_leaf_11 {
    -webkit-animation: opacity-11 1.25s linear infinite;
    animation: opacity-11 1.25s linear infinite;
}
.loading_leaf_11:before {
    -webkit-transform: rotate(330deg) translate(7.92px, 0px);
    transform: rotate(330deg) translate(7.92px, 0px);
}
@-webkit-keyframes opacity-0 {
  0% { opacity: 0.25; }
  0.01% { opacity: 0.25; }
  0.02% { opacity: 1; }
  60.01% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@-webkit-keyframes opacity-1 {
  0% { opacity: 0.25; }
  8.34333% { opacity: 0.25; }
  8.35333% { opacity: 1; }
  68.3433% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@-webkit-keyframes opacity-2 {
  0% { opacity: 0.25; }
  16.6767% { opacity: 0.25; }
  16.6867% { opacity: 1; }
  76.6767% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@-webkit-keyframes opacity-3 {
  0% { opacity: 0.25; }
  25.01% { opacity: 0.25; }
  25.02% { opacity: 1; }
  85.01% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@-webkit-keyframes opacity-4 {
  0% { opacity: 0.25; }
  33.3433% { opacity: 0.25; }
  33.3533% { opacity: 1; }
  93.3433% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@-webkit-keyframes opacity-5 {
  0% { opacity: 0.270958333333333; }
  41.6767% { opacity: 0.25; }
  41.6867% { opacity: 1; }
  1.67667% { opacity: 0.25; }
  100% { opacity: 0.270958333333333; }
}
@-webkit-keyframes opacity-6 {
  0% { opacity: 0.375125; }
  50.01% { opacity: 0.25; }
  50.02% { opacity: 1; }
  10.01% { opacity: 0.25; }
  100% { opacity: 0.375125; }
}
@-webkit-keyframes opacity-7 {
  0% { opacity: 0.479291666666667; }
  58.3433% { opacity: 0.25; }
  58.3533% { opacity: 1; }
  18.3433% { opacity: 0.25; }
  100% { opacity: 0.479291666666667; }
}
@-webkit-keyframes opacity-8 {
  0% { opacity: 0.583458333333333; }
  66.6767% { opacity: 0.25; }
  66.6867% { opacity: 1; }
  26.6767% { opacity: 0.25; }
  100% { opacity: 0.583458333333333; }
}
@-webkit-keyframes opacity-9 {
  0% { opacity: 0.687625; }
  75.01% { opacity: 0.25; }
  75.02% { opacity: 1; }
  35.01% { opacity: 0.25; }
  100% { opacity: 0.687625; }
}
@-webkit-keyframes opacity-10 {
  0% { opacity: 0.791791666666667; }
  83.3433% { opacity: 0.25; }
  83.3533% { opacity: 1; }
  43.3433% { opacity: 0.25; }
  100% { opacity: 0.791791666666667; }
}
@-webkit-keyframes opacity-11 {
  0% { opacity: 0.895958333333333; }
  91.6767% { opacity: 0.25; }
  91.6867% { opacity: 1; }
  51.6767% { opacity: 0.25; }
  100% { opacity: 0.895958333333333; }
}

 .lx-confirm-wrapper{
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left:0;
     background: rgba(0,0,0,.3);
     z-index: 1999;
     transition: all .5s;
 }
 .lx-confirm-wrapper .confirm-box{
     animation: show-confirm .5s;
     -webkit-animation: show-confirm .5s;
     width: 80%;
     height: 100px;
     position: absolute;
     background: #fff;
     top: 50%;
     left: 50%;
     margin-left: -40%;
     margin-top: -50px;
     z-index: 1999;
     border-radius: 4px;
     color: #666666;
 }
 .lx-prompt-wrapper .confirm-box{
     height: 120px;
 }
 .lx-prompt-wrapper .confirm-box div{
     border-bottom: 1px solid #ccc;  margin: 0;
 }
 .lx-prompt-wrapper .confirm-box input{
     height: 16px;
     margin: 0 auto 10px auto;
     display: block;
 }
 @keyframes show-confirm
 {
     from {
         opacity: 0;
         transform: scale(.5);
         -webkit-transform: scale(.5);
     }
     to {
         opacity: 1;
         transform: scale(1);
         -webkit-transform: scale(1);
     }
 }
 .lx-confirm-wrapper .confirm-box p{  line-height: 62px;  text-align: center;  font-size: 18px;
     border-bottom: 1px solid #ccc;  margin: 0;
 }
 .lx-prompt-wrapper .confirm-box p{
     border: none;
     line-height: 50px;
 }
 .lx-confirm-wrapper .confirm-box .btn-wrapper{ border: 0;}
 .lx-confirm-wrapper .btn-wrapper span{  display: inline-block;  width: 49%;  text-align: center;  height: 37px;  line-height: 37px;  }
 .lx-confirm-wrapper .btn-wrapper .confirm{  color: #4caf50; }
 .lx-confirm-wrapper .btn-wrapper .alert-confirm{  display: inline-block;  width: 100%;  text-align: center;  height: 37px;  line-height: 37px;  color:  #50bfff;  }
 .lx-confirm-wrapper .btn-wrapper .success-confirm{  color: #4caf50;  }
 .lx-confirm-wrapper .btn-wrapper .error-confirm{  color: #ff6633;  }
 .lx-confirm-wrapper .btn-wrapper .warning-confirm{  color: #f7ba2a;  }
 .lx-confirm-wrapper .btn-wrapper .cancel{  border-right: 1px solid #ccc;  color: #ff6633;  }
 .lx-confirm-wrapper .scale-enter-active,.scale-leave-active,.confirm-box{  transition: all 0.5s;  }
 .lx-confirm-wrapper .scale-enter,.scale-leave-to{  opacity: 0;  }
 .lx-confirm-wrapper .scale-enter .confirm-box,.scale-leave-to .confirm-box{  transform: scale(.5);  }
